[submodule "emailService"]
	path = emailService
	url = https://github.com/RolandSallaz/emailService
[submodule "systemInfoService"]
	path = systemInfoService
	url = https://github.com/RolandSallaz/systemInfoService.git
[submodule "nodejs-certbot-autoupdater"]
	path = nodejs-certbot-autoupdater
	url = https://github.com/RolandSallaz/nodejs-certbot-autoupdater
