@import '../../variables.scss';
.pagination {
    margin-top: 20px;
    &__button {
      color: $blurColor;
      font-size: 17px;
      font-weight: 500;
      &_active {
        color: $secondColor;
        cursor: default;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }