.filterCard {
  width: 550px;
  height: 660px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  padding: 20px;
  position: relative;
  overflow: hidden;
  &__image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    transform: scale(1.1);
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
    &_hovered {
      transform: scale(1);
    }
  }

  &__container {
    z-index: 2;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 10px;
    cursor: default;
  }
  &__heading {
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: 400;
    font-family: sans-serif, Raleway, Ubuntu;
    font-size: 36px;
  }
  &__description {
    font-size: 16px;
    color: white;
    padding-bottom: 20px;
    max-width: 270px;
  }
  &__button {
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: white;
      opacity: 0;
      transition: opacity 0.5s;
    }
    &_hovered {
      &::after {
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
  }
}
