@import '../../variables.scss';

.OrderPage {
  &__form {
    display: flex;
    gap: 20px;
  }
  &__input {
    border: none;
    border-radius: 4px;
    padding: 5px 10px 5px 30px;
    width: 100%;
    font-size: 16px;
    background-color: white !important;
    &_error {
      color: red;
    }
    &-label {
      cursor: text;
      position: relative;
      width: 100%;

      & svg {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        color: #24a1de;
      }
    }
  }
  &__button {
    &_order {
      @include order-button;
      background-color: #10c44c;
    }
  }
  &__space-between {
    @include space-between;
  }
  &__column {
    @include order-column;
    width: 560px;
    gap: 10px;
    &_right {
      @include order-column_right;
    }
  }
  &__grid {
    &-container {
      @include order-grid;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
