.footerColumn {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 50px;
  gap: 10px;
  border-right: 1px solid #6f696952;
  border-top: none;
  &__link {
    text-decoration: none;
    color: #6f6969;
    font-size: 15px;
    &:hover {
      color: #000000;
    }
  }
  &__heading {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  &__text {
    font-size: 18px;
    color: #6f6969;
    max-width: 270px;
  }
  &__image {
    max-width: 40%;
  }
  &:last-of-type {
    border: none;
  }
}
