$secondColor: rgb(151, 41, 255);
$blurColor: #9b9b9b;
$gray: rgba(184, 184, 184, 0.123);
@mixin order-button {
  background-color: $secondColor;
  color: white;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  &:disabled {
    background-color: $blurColor;
    cursor: default;
  }
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
}

@mixin order-column_right {
  min-width: 300px;
  max-width: 400px;
  padding: 24px;
  gap: 10px;
}

@mixin order-column {
  margin-top: 50px;
  flex-grow: 1;
  background-color: $gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 20px;
}

@mixin order-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(92px, 96px));
  grid-auto-flow: row;
  gap: 10px;
  @media screen and (max-width: 1279px) {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Изменения для мобильных устройств */
    gap: 5px; /* Изменения для мобильных устройств */
  }
}
