@import "../../variables.scss";
.order {
  background-color: $gray;
  width: 460px;
  padding: 20px;

  & p {
    font-size: 17px;
  }
  &__container {
    display: flex;
    align-items: center;
    gap: 5px;
    & button {
      border: 1px solid $secondColor;
    }
  }
}
.grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(92px, 96px));
  grid-auto-flow: row;
  gap: 10px;
}

@media screen and (max-width: 1279px) {
  .order {
    width: 100%;
  }
  .grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Изменения для мобильных устройств */
    gap: 5px; /* Изменения для мобильных устройств */
  }
}
