@import "../../variables.scss";
.card {
  display: flex;
  flex-direction: column;
  &_type {
    &_cart {
      width: 100%;
      max-height: 150px;
      flex-direction: row;
      gap: 20px;
      border-bottom: 1px solid $secondColor;
      padding-bottom: 10px;
      &:last-of-type {
        border-bottom: none;
      }
      & .card__image {
        max-width: 130px;
        height: 100%;
        position: relative;
        margin-left: 0;
        border-radius: 4px;
      }

      & .card__price {
        margin: 0;
        margin-left: auto;
        font-weight: 500;
      }

      & .card__name {
        margin: 0;
      }

      & .card__flex {
        display: flex;
        gap: 10px;
      }
    }
  }
  &__cart-button {
    display: flex;
    align-items: center;

    & svg {
      width: 20px;
      height: 20px;
    }
    &_like {
      &:hover {
        color: rgb(182, 50, 50);
      }
      &_active {
        color: red;
      }
    }
    &_trash {
      &:hover {
        color: $secondColor !important;
      }
    }
  }
  &__container {
    min-height: 385px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    &_big {
      height: 600px;
    }
    &_column {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &__button {
    position: absolute;
    transition: all 0.5s;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    z-index: 3;
    color: white;

    &:hover {
      background-color: rgba(0, 0, 0, 0.527);
      // color: white;
    }
    & svg {
      font-size: 24px;
    }
    &_buy {
      font-size: 20px;
      width: calc(100% - 40px);
      margin: 20px;
      bottom: -100px;
      &_hovered {
        bottom: 0;
      }
    }
    &_like {
      width: 34px;
      height: 34px;
      top: 20px;
      bottom: auto;
      right: -100px;
      &_hovered {
        right: 20px;
      }
      &_active {
        color: red;
        :hover {
          color: red;
        }
      }
    }
  }
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s;
    &_hovered {
      opacity: 0;
    }
  }
  &__brand {
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
  &__name {
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    &:hover {
      color: #9b9b9b;
    }
    & a {
      text-decoration: none;
    }
  }
  &__price {
    margin-top: 10px;
    font-weight: 500;
  }
  &__type {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #9b9b9b;
    text-transform: capitalize;
    white-space: nowrap; /* предотвращает перенос текста */
    overflow: hidden; /* скрывает текст, который не помещается */
    text-overflow: ellipsis; /* отображает текст под точками */
  }
}

@media screen and (max-width: 1279px) {
  .card {
    &_type {
      &_cart {
        gap: 5px;
        & .card__image {
          flex-grow: 1;
          min-width: 75px;
        }
        & .card__price {
          font-size: 16px;
          text-wrap: nowrap;
        }
        & .card__flex {
          gap: 0px;
        }
        & .card__type {
          font-size: 14px;
          max-width: 50px;
        }
      }
    }
    &__container {
      min-height: auto;
      height: 200px;
      width: 100% !important;
    }
    &__button {
      &_like {
        right: 20px !important;
      }
      &_buy {
        bottom: 0;
        display: none;
      }
    }
  }
}
