.footer {
  background-color: #f5f5f5;
  width: 100%;
  margin: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  &__columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid #6f696952;
  }
  &__copyright {
    margin: auto;
    padding: 20px 0;
    font-weight: 500;
    color: #6f6969;
  }
}
