@import '../../variables.scss';

.FindPage {
  min-height: 100vh;

  &__input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
  }

  &__container {
    margin-top: 50px;
    gap: 5px;
    display: flex;
    width: 100%;
    align-items: center;
  }

  &__select {
    width: 220px;

  }

  &__search-container {
    display: flex;
    width: 100%;
    gap: 5px;
  }
}

.nextPage {
  border: 2px solid $secondColor;
  margin: 30px auto 10px auto;
  padding: 15px;
  width: 90%;
  max-width: 768px;
  border-radius: 10px;
  font-size: 17px;

  &:hover {
    color: $secondColor;
  }
}

@media screen and (max-width: 1279px) {
  .FindPage {
    &__container {
      margin-top: 30px;
      width: 100%;

    }

    &__select {
      width: 100%;
    }
  }
}

.tags {
  &__button {
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
    font-size: 16px;
    padding: 4px 10px;

    &:hover {
      border: 1px solid rgb(116, 118, 255);
      color: rgb(116, 118, 255);
    }

    &_active {
      border-color: rgb(151, 41, 255);
      color: rgb(151, 41, 255);
    }
  }
}