@import '../../variables.scss';

.FindPage {
  min-height: 100vh;
  &__input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
  }
  &__container {
    margin-top: 50px;
    gap: 5px;
    display: flex;
    width: 50%;
    align-items: center;
  }
  &__select {
    width: 220px;

  }
}

.nextPage {
  border: 2px solid $secondColor;
  margin: 30px auto 10px auto;
  padding: 15px;
  width: 90%;
  max-width: 768px;
  border-radius: 10px;
  font-size: 17px;
  &:hover{
    color:$secondColor;
  }
}

@media screen and (max-width: 1279px) {
  .FindPage {
    &__container {
      margin-top: 90px;
      width: 100%;
      flex-direction: column;
    }
    &__select {
      width: 100%;
    }
  }
}
