@import '../../variables.scss';

.CartPage {
  display: flex;
  flex-direction: row !important;
  gap: 20px;
  &__select {
    width: 100%;
    display: flex;
    gap: 20px;
    cursor: pointer;
  }
  &__column {
    @include order-column;
    &_right {
      @include order-column_right;
    }
  }
  &__button {
    &_order {
      @include order-button;
    }
  }
  &__container {
    &_flex {
      @include space-between;
    }
  }
}
