@import "../../variables.scss";

.AdminInfoPage {
  width: 320px !important;
  padding: 10px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  &__grid-container {
    margin-top: 10px;
    display: grid;
    width: 100%;
    gap: 10px;
  }
  &__input {
    font-size: 17px;
    width: 100%;
    border-color: $secondColor;
  }

  &__info {
    width: 100%;
    position: relative;
    &:hover {
      &::after {
        z-index: 2;
        content: "";
        position: absolute;
        top: 50px;
        left: 50%;
        width: 400px;
        height: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: translateX(-50%);
      }
    }
    &_main-heading {
      &:hover {
        &::after {
          background-image: url("https://downloader.disk.yandex.ru/preview/f701f35d9bbbc06423ea5842d5d7e448496ab682a9f3515fc4becd3d19bf7cde/669dc1e7/DtZKgIzmp-rxNGwbSaxZ8r6rYWpGxJXSKxl7SnSAN5G6fJfBA4zPK9l48MHaZ_wVmL04PffMLajPjwWf_7H7Hg%3D%3D?uid=0&filename=2024-07-22_01-19-57.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=0&tknv=v2&size=2048x2048");
        }
      }
    }
  }
  &__button {
    cursor: pointer;
    border: 1px solid $secondColor;
    border-radius: 4px;
    font-size: 17px;
    text-decoration: none;
    padding: 0 5px;
  }
}
